{% extends 'pong/base.html' %}

{% load bootstrap3 %}

{% block title %}Django Pong{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Django Pong</h1>
        </div>
        {% bootstrap_messages %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Recent Games</div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Game</th>
                  <th>Score</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for game in games %}
                  <tr>
                    <td>
                      <a href="{{ game.get_absolute_url }}">
                        {% if game.game_over %}
                          <strong>{{ game.winner }}</strong> defeated <strong>{{ game.loser }}</strong>
                        {% else %}
                          {{ game }} (In Progress)
                        {% endif %}
                      </a>
                    </td>
                    <td>{{ game.winning_score }} - {{ game.losing_score }}</td>
                    <td>{{ game.date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Leaderboard</div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Player</th>
                    <th>Win %</th>
                    <th>Wins</th>
                    <th>Losses</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in leaderboard %}
                    <tr>
                      <td><a href="{{ player.get_absolute_url }}">{{ player }}</a></td>
                      <td>{{ player.win_percentage }}%</td>
                      <td>{{ player.wins.count }}</td>
                      <td>{{ player.losses.count }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
