{% extends 'pong/base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ game }}{% endblock %}

{% block css-additional %}
  <style>
    .player-points {
      font-size: 2.0em;
      font-weight: bold;
      padding: 1em 2em;
      border: 1px solid #666;
      border-radius: 6px;
      display: inline-block;
      margin-bottom: .5em;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>{{ game }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="player1Container" class="col-md-3 text-center">
        <h2>{{ game.player1 }}</h2>

        <div id="player1Points" class="player-points">{{ game.player1_points }}</div>

        {% if not game.game_over %}
          <div>
            <button type="button" data-player="1" class="btn btn-primary btn-lg score-point-button">Score Point</button>
          </div>
        {% endif %}

        <p class="player-result"></p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static "img/table.jpg" %}" class="img-responsive" alt="Ping pong table">
      </div>
      <div id="player2Container" class="col-md-3 text-center">
        <h2>{{ game.player2 }}</h2>

        <div id="player2Points" class="player-points">{{ game.player2_points }}</div>

        {% if not game.game_over %}
          <div>
            <button type="button" data-player="2" class="btn btn-primary btn-lg score-point-button">Score Point</button>
          </div>
        {% endif %}

        <p class="player-result"></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block js-additional %}
<script>
  var gameId = {{ game.pk }};

  function gameOver(winner, loser) {

  }

  $('.score-point-button').on('click', function(e) {
    var button = $(this);
    var player = button.data('player');

    var data = {
      game_id: gameId,
      player: player,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    };

    $.post("{% url 'pong_add_point' %}", data, function(d) {
      var points = $('#player' + player + 'Points');
      points.text(d['player' + player + '_points']);
    });
  });
</script>
{% endblock %}
